<div>
    <h1>Create New Bill</h1>
</div>
<div>
    <form [formGroup]="form" (submit)="saveFriends()">
        <table>
            <tr>
                <td>Bill Title: </td>
                <td>
                    <input type="text" size="30" formControlName="title">
                </td>
                <td>
                    <span *ngIf="invalidField('title')">
                        Invalid title
                    </span>
                </td>
            </tr>
            <tr>
                <td>Total Expenditure: </td>
                <td>
                    $ {{ totalAmount }}
                    <!-- <input type="number" formControlName="total"> -->
                    <span *ngIf="totalAmount < 1">
                        (Total expenditure must be more than $1.00)
                    </span>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <thead>
                <tr>
                    <td>Friends:</td>
                    <td>Amount Paid:</td>
                </tr>
            </thead>
            <tbody formArrayName="friends">
                <tr *ngFor="let f of friendsArr.controls; let i = index" [formGroupName]="i">
                    <td>
                        <input type="text" size="30" formControlName="name">
                    </td>
                    <td>
                        $<input type="number" formControlName="amount" (input)="calculateTotalAmount()">
                    </td>
                    <td>
                        <button type="button" (click)="removeFriend(i)"
                                [disabled]="lessThanThreeFriends()">X</button>
                    </td>
                    <td>
                        <span *ngIf="invalidFriendName(i, 'name')">
                            Name must be more than 2 characters
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" (click)="addFriend(null)">
                            add another friend
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <button type="submit" [disabled]="invalidForm()">Next: Add items</button>
    </form>
</div>