<div>
    <nav mat-tab-nav-bar backgroundColor="primary" [tabPanel]="tabPanel">
        <a mat-tab-link (click)="activeLink = links[0]"
           [active]="activeLink == links[0]">{{ links[0] }}</a>
        <a mat-tab-link disabled>{{ links[1] }}</a>
        <a mat-tab-link disabled>{{ links[2] }}</a>
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</div>
<br>
<div class="center-it">
    <form [formGroup]="form" (submit)="saveFriends()">
        
        <table>
            <tr>
                <th style="text-align: right;">Bill Title:</th>
                <td colspan="3">
                        &nbsp;<input type="text" size="35" formControlName="title"
                        placeholder="Give your bill a title">
                        <span *ngIf="invalidField('title')" class="error">
                            <br>&nbsp;must give bill a title
                        </span>
                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <th style="text-align: right;">Total Paid:</th>
                <td style="vertical-align: middle; text-align: right; width: 22px;">
                    <mat-icon class="shrink" svgIcon="dollar"></mat-icon> 
                </td>
                <td style="text-align: left">
                    {{ totalAmount.toFixed(2) }}
                </td>
                <td>
                    <span *ngIf="totalAmount < 1" class="error">
                        (must be more than $1.00)
                    </span>
                </td>
            </tr>
        </table>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>Friends:</th>
                    <th colspan="2" style="text-align: right;">Amount Paid:</th>
                    <th></th>
                </tr>
            </thead>
            <tbody formArrayName="friends">
                <tr *ngFor="let f of friendsArr.controls; let i = index" [formGroupName]="i">
                    <td style="vertical-align: middle;">
                        <input type="text" size="25" formControlName="name">
                        <span *ngIf="invalidFriendName(i, 'name')" class="error">
                            <br>must be more than 2 characters
                        </span>
                    </td>
                    <td style="vertical-align: middle; width:30px; text-align: right;">
                        <mat-icon class="shrink" svgIcon="dollar"></mat-icon>
                    </td>
                    <td style="vertical-align: middle;">
                        <input type="number" style="width: 70px;" formControlName="amount" 
                        (input)="calculateTotalAmount()">
                    </td>
                    <td style="vertical-align: middle;">
                        <button mat-icon-button type="button" 
                                (click)="removeFriend(i)"
                                [disabled]="lessThanThreeFriends()">
                            <mat-icon svgIcon="bin"></mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button mat-flat-button class="orange-btn dense-2" type="button" (click)="addFriend(null, 0)">
                            Add another friend
                        </button>
                    </td>
                </tr>
                    <br>
                <tr>
                    <td>
                        <button mat-flat-button class="pill" color="accent" type="submit" [disabled]="invalidForm()">
                            Next: Add items
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>        
    </form>
</div>