<div>
    <nav mat-tab-nav-bar backgroundColor="primary" [tabPanel]="tabPanel">
        <a mat-tab-link (click)="activeLink = links[0]" [routerLink]="['/']"
           [active]="activeLink == links[0]"> {{ links[0] }} </a>
        <a mat-tab-link (click)="activeLink = links[1]" [routerLink]="['/items']"
           [active]="activeLink == links[1]"> {{ links[1] }} </a>
        <a mat-tab-link (click)="activeLink = links[2]"
           [active]="activeLink == links[2]"> {{ links[2] }} </a>     
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</div>
<div>
    <nav mat-tab-nav-bar backgroundColor="accent" [tabPanel]="tabPanel">
        <a mat-tab-link (click)="splitByShare()"> <mat-icon svgIcon="bar"></mat-icon> </a>
        <a mat-tab-link> <mat-icon svgIcon="percent"></mat-icon> </a>
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</div>
<br>
<div class="center-it">
    <form [formGroup]="form" (submit)="saveBill()">
        <div *ngFor="let item of this.currentBill.items; let i = index">
            <table>
                <thead>
                    <td>{{ i+1 }}. </td>
                    <td style="width: 205px">{{ item.itemName }} (${{ (item.price * item.quantity).toFixed(2) }})</td>
                </thead>
                <tbody formArrayName="percentShares">
                    <tr *ngFor="let f of currentBill.friends, let j = index" [formGroupName]="i">
                        <td colspan="2">{{ f }}</td>
                        <td style="text-align: right;">
                            <input type="number" formControlName="percent{{ j }}" style="width: 50px"> %
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <mat-divider></mat-divider>
        </div>
        <br>
        <p *ngIf="invalidForm()">Invalid Items:</p>
        <ul *ngFor="let item of percentArr.controls; let i = index">
            <li *ngIf="not100Percent(i)">Item {{ (i + 1) }}'s total percentage is 100%</li>
            <li *ngIf="percentArr.at(i).invalid">Item {{ (i + 1) }}'s has percentage less than 0%</li>
        </ul>
        <br>
        <button mat-flat-button class="pill" color="primary" type="submit" [disabled]="invalidForm()">Settle Up!</button>
    </form>
</div>
