@use "@material/button";

.mat-mdc-unelevated-button.red-btn {
    background-color: #ff6241;
    border-radius: 20px;
}

.mat-mdc-unelevated-button.yellow-btn {
    background-color: #ffd600;
    border-radius: 20px;
}