<div>
    <nav mat-tab-nav-bar backgroundColor="primary" [tabPanel]="tabPanel">
        <a mat-tab-link>Settle Up!</a>    
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</div>
<br>
<div class="center-it">
    <table>
        <tr>
            <th style="text-align: left;">Bill ID:</th>
            <td colspan="2">{{ settlement.billId }}</td>
        </tr>
        <tr>
            <th style=" vertical-align:top; text-align: left;">Bill:</th>
            <td colspan="2">{{ settlement.title }} created on {{ date }}</td>
        </tr>
        <tr>
            <th style="width: 76px; text-align: left;">Total Paid:</th>
            <td>
                <mat-icon class="shrink" svgIcon="dollar"></mat-icon>
            </td>
            <td style="text-align: left">{{ settlement.total.toFixed(2) }}</td>
        </tr>
    </table>
    <h3>Instructions to settle up:</h3>
    <ul *ngFor="let t of settlement.transactions">
        <li>{{ t.payer }} pay ${{ t.amount.toFixed(2) }} to {{ t.payee }}</li>
    </ul>
    <br>
    <button mat-flat-button class="yellow-btn" type="button" (click)="share()">
        <mat-icon svgIcon="share"></mat-icon> Settlement
    </button>
    &nbsp;&nbsp;
    <button mat-flat-button class="yellow-btn" type="button" (click)="openDialog()">
        <mat-icon svgIcon="email"></mat-icon> Full bill
    </button>
    <br>
    <br>
    <button mat-flat-button class="pill" color="primary" [routerLink]="['/']" >Start new bill</button>
</div>