<div>
    <h1>Settle Up</h1>
</div>
<div>
    <table>
        <tr>
            <td>Bill ID: </td>
            <td>{{ settlement.billId }}</td>
        </tr>
        <tr>
            <td>Bill: </td>
            <td>{{ settlement.title }} created on {{ date }}</td>
        </tr>
        <tr>
            <td>Total Expenditure: </td>
            <td>{{ settlement.total }}</td>
        </tr>
    </table>
    <h3>Instructions to settle up:</h3>
    <ul *ngFor="let t of settlement.transactions">
        <li>{{ t.payer }} pay ${{ t.amount }} to {{ t.payee }}</li>
    </ul>
    <br>
    <button type="button">Share on Telegram</button>
    <button type="button">Send bill split to your email</button>
</div>